<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div th:insert="blocks/head"></div>

<body class="starter-page-page">

<div th:insert="blocks/header"></div>

<main class="main">

    <div class="page-title dark-background" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>Заявки</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="container">

        <form action="/applications/filter" method="get" class="row mb-5">
            <div class="col-12 col-lg-auto mb-2" data-aos="fade-up">
                <a href="/applications" class="btn btn-secondary w-100">Сбросить</a>
            </div>
            <div class="col-12 col-lg mb-2" data-aos="fade-up">
                <select name="status" class="form-select">
                    <option th:each="i : ${applicationStatuses}" th:value="${i}" th:label="${i.name}" th:selected="${i == status}"></option>
                </select>
            </div>
            <div class="col-12 col-lg mb-2" data-aos="fade-up">
                <select name="categoryId" class="form-select">
                    <option value="0">Все категории</option>
                    <option th:each="i : ${categories}" th:value="${i.id}" th:label="${i.name}" th:selected="${i.id == categoryId}"></option>
                </select>
            </div>
            <div class="col-12 col-lg-auto mb-2" data-aos="fade-up">
                <button type="submit" class="btn btn-primary w-100">Поиск</button>
            </div>
        </form>

        <div class="row">
            <div th:each="i : ${applications}" class="col-12 col-lg-4 mb-2" data-aos="fade-up">
                <a th:href="${'/applications/' + i.id}">
                    <div class="card card-body shadow text-black">
                        <p class="fs-4 m-0 text-center" th:text="${'Заявка №' + i.number}"></p>
                        <p class="fs-5 m-0" th:text="${'Статус: ' + i.status.name}"></p>
                        <p class="fs-5 m-0" th:text="${'Категория: ' + i.category.name}"></p>
                    </div>
                </a>
            </div>
        </div>

    </section>

</main>

<div th:insert="blocks/footer"></div>

</body>

</html>