<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div th:insert="blocks/head"></div>

<body class="starter-page-page">

<div th:insert="blocks/header"></div>

<main class="main">

    <div class="page-title dark-background" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>Пользователи</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="container">

        <form th:each="i : ${users}" th:if="${i.id != user.id}" th:action="${'/users/' + i.id + '/update'}"
              method="post" class="row" data-aos="fade-up">
            <div class="col-12 col-lg mb-2">
                <input type="text" readonly class="form-control mb-2" th:value="${i.fio}">
            </div>
            <div class="col-12 col-lg mb-2">
                <select name="role" required class="form-select">
                    <option th:each="r : ${roles}" th:value="${r}" th:label="${r.name}"
                            th:selected="${r == i.role}"></option>
                </select>
            </div>
            <div class="col-12 col-lg-auto mb-2">
                <button type="submit" class="btn btn-success w-100">Обновить</button>
            </div>
            <div class="col-12 col-lg-auto mb-2">
                <a th:href="${'/users/' + i.id + '/delete'}" class="btn btn-danger w-100">Удалить</a>
            </div>
        </form>

    </section>

</main>

<div th:insert="blocks/footer"></div>

</body>

</html>